/* ~~~ the section we will change for our class notes to apply flexbox / grid starts here! ~~~ */

/* ~~ this is where we apply flexbox styling ~~ */

/* CheatSheet! https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
/* Game #1: https://flexboxfroggy.com/ */
/* Game #2: https://cssgridgarden.com/ */

 #my_flexbox{
    display:flex;
    /* flex-direction:column; */
    /* justify-content: center, flex-start, flex-end, space-around, space-between */

    justify-content: space-between;
    /* align-items: center, flex-start, flex-end, stretch, baseline */
    align-items: center;
}

.info_card{
    width:20vw;
}

#info_1{
    flex-shrink: .4;
    order:1;
}

#my_grid{
    display:grid;
    grid-template-columns: auto auto auto auto;
    /* justify-content: space-evenly, space-around, space-between, center, start, end */
    justify-content: end;
    /* align-content: center, space-evenly, space-around, space-between, start, end*/
}

.unicorns{
    width: 20vw
}

#unicorns_1{
    grid-column: 1/3;
    grid-row: span 2;
}

/* ~~ this is where we apply grid styling ~~ */

/* #my_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */